@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    background: #adc4c2;
    color: black;
    padding-top: 2rem;
    text-align: center;
    position: relative;
    max-width: 800px;
    margin: 0rem 3rem;
    line-height: 1.5;
}

h1 {
    font-size: 1.5rem;
    color: #e5dfd5;
    padding-top: 1rem;
    text-align: center;
    font-weight: normal;
    margin: 0.15rem;
}

header img {
   width: 200px;
    margin-right: 4em;
    margin-bottom: 2rem;

}

main {
    text-align: left;
    padding: 3em;
}

header, footer {
    background: #2d5157;
    color: #e5dfd5;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

a {
    color: #354725;
}

footer a {
    color: #e5dfd5;
}