
@media only screen and (min-width: 35rem) {

.iconImg {
    max-width: 5rem;
}
.weatherSum {
    font-size: 12px;
}

.forecast {
    display: inline;
    margin: 2rem auto;
    color: #000;
    font-style: italic;
    font-size: 1.2rem;
}
.forecastTable {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 0px;
    background-color: #2D5157;
    color: #ccc;

}
.castDay, .castTemp {
    border: .25px solid #ccc;
    font-style: italic;
    font-size: 1.2rem;
    padding: 10px;
    justify-content: center;
}
.castDay {
    text-align: center;
}

.footContact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
    padding: 20px;
    color: #fff;
    font-style: italic;
    font-size: 1.2rem;
}
footer img {
    display: grid;
    width: 20rem;
    margin: auto;
}
.contact {
    margin: auto auto auto 10px;
}

.contactInfo p {
    font-size: 1rem;
    text-align: left;
}
footer {
    justify-content: center;
}
.clearfix{
    overflow: none;
}
} /*end medium */

